@import "../../bower_components/bootstrap/less/bootstrap";
@import "../../bower_components/bootstrap-material-design/less/roboto";
@import "../../bower_components/bootstrap-material-design/less/material";
@import "../../bower_components/bootstrap-material-design/less/ripples";
@import "variables";

body {
  .backgound-color3;
  color: white;
}

section {
  padding: 100px 20px;
}

.round {
  display: block;
  width: 150px;
  height: 150px;
  margin: 20px auto 0;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 100%;
  position: relative;
  margin-bottom: 10px;

  img {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
  }
}
