// Footer
footer#contact.text-center
  .footer-above
    .container
      .row
        .footer-col.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          h2 Contact
          h4 Un projet, une question, une fixette ?
          p N'hésitez pas à m'écrire, je réponds à toutes les questions (vraiment!) et ce, dans les plus brefs délais !
        .footer-col.col-sm-4.col-sm-offset-2
          a.round(href='mailto:pro@anneso7.com')
            img(src='./img/enveloppe.svg')
          a(href='mailto:pro@anneso7.com') pro@anneso7.com
        .footer-col.col-sm-4
          a.round(href='tel:+33643365483')
            img(src='./img/telephone.svg')
          a(href='tel:+33643365483') 06 43 36 54 83
