// About Section
section#about.success
  .container
    .row
      .col-lg-12.text-center
        h3 Qui suis-je ?
        p Toutes les facettes d'Anne-So 7
    .row
      .col-lg-12.text-center
        ul
          li
            a(href='') Chouette
          li
            a(href='') Petite
          li
            a(href='') Dynamique
          li
            a(href='') Souriante
          li
            a(href='') Arc en ciel
          li
            a(href='') Cr&eacute;ative
          li
            a(href='') P&eacute;tillante
