// Footer
footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          h3 Contact
          h4 Un projet, une question, une fixette ?
          p N'hésiter pas à m'écrire, je réponds à toutes les questions (vraiment!) et ce, dans les plus brefs délais !
        .footer-col.col-md-4
          a.round(href='mailto:pro@anneso7.com')
            img(src='./img/enveloppe.svg')
          a(href='mailto:pro@anneso7.com') pro@anneso7.com
        .footer-col.col-md-4
          a.round(href='tel:+33643365483')
            img(src='./img/telephone.svg')
          a(href='tel:+33643365483') 06 43 36 54 83
