// Portfolio Grid Section
section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h2 R&eacute;alisation
        hr.star-primary
        h4 Quelques projets en recettes...
        p
          | Entreprises de toutes contr&eacute;es, dirigeant en qu&ecirc;te d&apos;une communication visuelle color&eacute;e, PME
          | fra&icirc;chement lanc&eacute;e, service communication overbook&eacute;, pour d&eacute;tenteur d&apos;un projet vitamin&eacute;...
        p J&apos;aime cr&eacute;er et travailler pour tous les publics. La preuve en images...
    .row
      .col-sm-4.portfolio-item
        a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='img/portfolio/cabin.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='img/portfolio/cake.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='img/portfolio/circus.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='img/portfolio/game.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='img/portfolio/safe.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='img/portfolio/submarine.png', alt='')
